*{
    font-family: 'Quicksand', sans-serif;
}
html{
    height:100%;
    width:100%;
    margin:0;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height:100%;
    width:100%;

    
}
/* Clouds Animation */
#background-wrap {
    bottom: 0;
	left: 0;
    padding-top: 120px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 15s linear infinite;
	-moz-animation: animateCloud 15s linear infinite;
	animation: animateCloud 15s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}



/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

/* Clouds End Here */


.home-nav{
    visibility: hidden;
}
#trailer-link{
    visibility: hidden;
}


.home{
    display:flex;
    justify-content: center;
}
.home-buttons{
    display:flex;
    flex-direction: column;
    width:200px;
    height:400px;
    justify-content: space-around;
    margin-top:40px;
    margin-left:0px;
}
.home-buttons button{
    cursor:pointer;
    height:70px;
    width:200px;
}

.home-h1 {
    font-size: 35px;
    width:70%;
    margin-left:250px;
    margin-right:auto;
    margin-top:50px;
    color:black;
 }

 .home-h2{
  height:50px;
  font-size: 35px;
  margin-top:20px;
  margin-left:250px;
  width:250px;
  color:black;
 }

.guru-img-home{
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    width:480px;
    margin-left:40px;
}



.guru-img-question{
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    width:500px;
}
.baloon-container{
    position:absolute;
    width:800px;
    top:250px;
    left:500px;
}
.baloon-container-decide{
    position:absolute;
    width:800px;
    top:160px;
    left:500px;
}
#baloon1{
    position:absolute;
    left:470px;
    top:-80px;
    width:238px;
    height:208px;
    cursor:pointer;
}
#baloon1:hover{
    filter: saturate(8);
    transform: scale(1.2);
}
#baloon2{
    position:absolute;
    left:500px;
    top:210px;
    width:248px;
    height:208px;
    cursor:pointer;
}
#baloon2:hover{
    filter: saturate(8);
    transform: scale(1.2);
}
#baloon3{
    position:absolute;
    top:230px;
    left:50px;
    width:258px;
    height:208px;
    cursor:pointer;
    
}
#baloon3:hover{
    filter: saturate(8);
    transform: scale(1.2);
}
#baloon4{
    position:absolute;
    left:270px;
    top:40px;
    width:258px;
    height:208px;
    cursor:pointer;
}
#baloon4:hover{
    filter: saturate(8);
    transform: scale(1.2);
}
#baloon5{
    position:absolute;
    top:20px;
    width:258px;
    height:208px;
    cursor:pointer;
}
#baloon5:hover{
    filter: saturate(8);
    transform: scale(1.2);
}

.answer-section{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top:100px;
}
.speech-image{
    width:700px;
    margin-right: 80px;
    margin-bottom: 150px;
    position:absolute;
    left: -150px;
    top: 0;
    z-index: 0;
}

#yes-no-text{
    position: absolute;
    z-index: 1;
    margin-top: 100px;
}

#yes-no-image{
    position: absolute;
    z-index: 1;
    margin-left: 100px;
    margin-top: 180px;
    height:150px;
    border-radius: 50%;
}
.response-container{
    position:absolute;
    top:60px;
    left:450px;
}


.guru-img2{
    width:200px;
    top:550px;
    left:200px;
    position: fixed;
}
#advice{
    position: absolute;
    z-index: 1;
    margin-top: 150px;
    height:150px;
    width:400px;
    font-size: 25px;
}




@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.question-section{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:130px;
    width:950px;
    flex-wrap: wrap;
    height: 500px;
    margin-left:10px;
}
#yes-no-question{
    width:300px;
    height:37px;
    border: solid 2px #D43A39;

}
#btn-question{
    width:100px;
    height:40px;
}


.thisthat-input-container{
    width:600px;
}
::placeholder{
    color:#D43A39;
}
.thisthat-input-container input{
    width:250px;
    margin-right: 10px;
    border: solid #D43A39 2px;
    color:#D43A39;
}
.thisthat-input-container span{
    margin-right: 10px;
}

.thisthat-answer{
    display:flex;
    flex-direction: column;
    height:250px;
    flex-wrap: wrap;
    width:600px;
    justify-content: flex-end;
    align-content: flex-end;
    margin-left:80px;
    margin-top:30px;
    
  
}
.thisthat-answer button{
    margin-top:20px;
    width:150px;
}
.guru-pick-text{
    margin-top:40px;
}

#answer-image{
    top:350px;
    left:350px;
    width:300px;
    position:fixed;
  
}
#bubble-answer{
   margin:0;
   width:600px;
}

.gif-container{
    position: absolute;
    width:550px;
    top:-30px;
    left:200px;
}


.speech{
    position: absolute;
    width:550px;
    top:110px;
    left:420px;
    z-index:-1;
}
#gif-text{
    z-index:1;
    left: 500px;
    top: 200px;
    font-size:16px;
    width:350px;
    position:absolute;
}
#gif{
    width:200px;
    z-index:1;
    border-radius: 40%;
    left: 630px;
    top: 230px;
    height:150px;
    position:absolute;
}
#loading-gif{
    width:100px;
    z-index:1;
    border-radius: 40%;
    left: 520px;
    top: 240px;
    height:150px;
    position:absolute;
}


#go-out-text{
    position:absolute;
    z-index:1;
    top:120px; 
    width:320px; 
}
#drink-text{
position:absolute;
z-index:1;
top:190px;
width:200px;
}
#drink-image{
    position:absolute;
    z-index:1;
    top:190px;
    left:200px;
    height:150px;
    border-radius:50%;
}
iframe{
    width:280px;
    height:200px; 
    border-radius: 20%;
    position:absolute;
    z-index:1;
    top:120px;
    left:155px;
}
#synopsis{
    z-index:1;
    position:absolute;
    height:200px;
    width:300px;
    font-size: 15px;
    top:120px;
    left:170px;
    overflow: hidden;
}
#stay-home-text{
    z-index:1;
    position:absolute;
    width:200px;
    top:130px;
    left:-40px;
}
#movie-title{
    z-index:1;
    position:absolute;
    width:200px;
    top:220px;
    left:-30px;
    font-size: 20px;
}

#food-title{
    z-index:1;
    position:absolute;
    width:300px;
    top:150px;
    left:-30px;
    font-size: 20px;
}

#food-text1{
    z-index:1;
    position:absolute;
    width:300px;
    top:200px;
    left:-20px;
}
#food-text2{
    z-index:1;
    position:absolute;
    width:220px;
    top:260px;
    left:60px;
}

#food-image{
    width:150px;
    border-radius: 50%;
    z-index:1;
    top:140px;
    position:absolute;
    left:300px;
}
/* // dropdown css starts */

.dropdown-container{
    width:300px;  
    background-color: white;
    height:40px;

}
  
.dropdown-btn{
    width:300px;
    height:40px;
    background-color: white;
}

.dropdown-list {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 299px;
    height: 200px;
    top:170px;
    border: none;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(black, .5);
    z-index: 9;
    overflow: auto;
    border-radius: 3px;
}

.option {
    padding: 5px;
    cursor: pointer;
}
.option:hover {
    color: white;
    background: #4db8ff;
  }

.arrow {
    position: relative;
}
.arrow:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: black transparent transparent transparent;
    position: absolute;
    right: 10px;
    top: 7px;
}
#watch-text{
    z-index:1;
    position:absolute;
    width:250px;
    top:130px;
    left:-40px;
}
#show-text{
position:absolute;
z-index:1;
top:190px;
width:200px;
}

#poster-image{
    height:200px;
    width:auto;
    top:105px;
    left:280px;
    border:2px solid black;
    position: absolute;
}

/*Share section*/
.share-container{
    top:10px;
    left:-10px;
    position: absolute;
    
}
.this-that-share-container{
    top:70px;
    left:-150px;
    position: absolute;
}

#share-text{
    top:500px;
    left:700px;
    width:200px;
    position: absolute;
    font-size:23px;
    color:rgba(10, 10, 10, 0.63);
    margin-left:4px;
    

}
.facebook-container {
    top:550px;
    left:700px;
    position: absolute;
  }
  .twitter-container {
    top:550px;
    left:760px;
    position: absolute;
  }
  .whatsapp-container{
    top:550px;
    left:820px;
    position: absolute;
}
  
  .share-button {
    cursor: pointer;
  }
  #share-eat{
      visibility: hidden;
  }
  #song-link{
    z-index:1;
    position:absolute;
    width:150px;
    top:255px;
    left:120px;
    font-size: 25px;
  }



/* MOBILE */
@media only screen and (max-width: 767px) {
html, body {
    overflow-x: hidden;
    }
body{
background-size: 100% 100%;
position: relative;
}
.home-buttons{
    visibility: hidden;
}
.home-nav{
    visibility: visible;
}

.guru-img-question{
    width:250px;
    margin-left:54px;
    margin-top:20px;
    }
.guru-img-home{
    width:auto;
    height:300px;
    margin-right:220px;
    margin-top:20px;
}
.home-h1 {
    font-size: 20px;
    width:80%;
    margin-top:100px;
    margin-left:auto;

}

.home-h2{
height:50px;
margin-top:40px;
margin-left:60px;
width:200px;
font-size: 30px;
}

.question-section{
    width:500px;
    height: 150px; 
}

.dropdown-container{
    margin-left: 50px;
}

.dropdown-list{
 height:80px;
 top:470px;
}
.guru-word{
    margin-left: 50px;
    font-size: 25px;
}

.response-container{
    top:200px;
    left:130px;
}
.speech-image{
    width:350px;
    position:absolute;
    left: -80px;
    top: 0;
    z-index: 0;
}
#yes-no-text{
    font-size: 30px;
    margin-top: 80px;
}

#yes-no-image{
    margin-top:60px;
    width: 100px;
    height:100px;
    
}
.guru-img2{
    width:150px;
    top:400px;
    left:10px;
    position: fixed;

}
.guru-pick-text{
    margin-top:24px;
    font-size:22px;
    width:250px;
}
#guru-pick-paragraph{
    margin-top:0px;
    font-size:18px;
    width:300px;
}

.thisthat-answer{
    display:flex;
    flex-direction: column;
    height:300px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top:100px;
    margin-left:5px;
    width:350px;
    
}
.thisthat-input-container{
    width:150px;
    display:flex;
    flex-direction: column;
}
.thisthat-input-container input{
    width:300px;
    height:45px;
    
}

#answer-image{
    top: 480px;
    left:20px;
    width:150px;
    position:fixed;
    
}
.speech{
    width:250px;
    position:absolute;
    left: 80px;
    top: 350px;
    z-index: 0;
}
.gif-container{
    width:550px;
    top:10px;
    left:100px;
    
 }

#gif-text{
    z-index:1;
    left: 120px;
    top: 390px;
    font-size:12px;
    width:170px;
    position:absolute;
}
#gif{
    width:auto;
    z-index:1;
    border-radius: 40%;
    left: 180px;
    top: 408px;
    height:70px;
    position:absolute;
}

#stay-home-text{
    top:50px; 
    font-size:12px;
    width:300px; 
    left:-30px;
}
#movie-title{
    width:200px;
    top:100px;
    left:-10px;
    font-size: 16px;
}
#trailer-link{
    visibility: visible;
    z-index:1;
    position:absolute;
    width:100px;
    top:145px;
    left:100px;
    font-size: 15px;

}
#song-link{
z-index:1;
position:absolute;
width:100px;
top:145px;
left:100px;
font-size: 15px; 
}
iframe{
    visibility:hidden;
    width:100px;
}
#synopsis{
visibility: hidden;
width:100px;
}
#go-out-text{
    top:50px; 
    font-size:12px;
    width:300px; 
    left:-30px;
}
#drink-text{
    top:100px;
    width:200px;
    font-size:16px;
    left:-20px;
    }
#drink-image{
    top:90px;
    left:120px;
    height:80px;
    border-radius:50%;
}
#advice{
    margin-top: 70px;
    height:80px;
    width:220px;
    font-size: 14px;
    left:-20px;
}
#food-title{
width:180px;
top:60px;
left:-20px;
font-size: 15px;
}

#food-image{
width:80px;
top:80px;
left:140px;
}
#food-text1{
width:150px;
top:120px;
left:-20px;
font-size:15px;
}
#food-text2{
visibility:hidden;
}

.share-container{
    width:150px;
    top:-30px;
    left:-550px;
    position: fixed;
}
.this-that-share-container{
    width:150px;
    top:25px;
    left:-530px;
    position: fixed;
}
#share-text{
font-size:15px;
width:150px;
}

#yes-noimg{
    visibility: hidden;
    width:0;
}
#yes-no-title{
    font-size:20px;
}
#yes-noP{
    font-size:12px;
}
#btn-question{
    width:80px;
    height:40px;
}

#decide-guru{
 height:150px;
 width:auto;
 margin-left:110px;
}

#watch-text{
width:200px;
font-size:15px;
top:60px;
left:-20px;

}
#show-text{
font-size:16px;
top:90px;
width:150px;
left:-20px;
}

#poster-image{
    height:80px;
    width:auto;
    top:80px;
    left:120px;
    position: absolute;
}

.baloon-container{
    width:600px;
    top:250px;
    left:10px;
}
.baloon-container-decide{
    width:600px;
    top:250px;
    left:10px;
}
#baloon1{
    left:70px;
    top:130px;
    width:138px;
    height:108px;
}
#baloon1:hover{
    filter: saturate(8);
    transform: scale(1.2);
}
#baloon2{
    position:absolute;
    left:230px;
    top:210px;
    width:148px;
    height:108px;
}
#baloon2:hover{
    filter: saturate(8);
    transform: scale(1.2);
}
#baloon3{
    top:230px;
    left:50px;
    width:158px;
    height:108px;
    
}
#baloon3:hover{
    filter: saturate(8);
    transform: scale(1.2);
}
#baloon4{
    left:190px;
    top:40px;
    width:158px;
    height:108px;
}
#baloon4:hover{
    filter: saturate(8);
    transform: scale(1.2);
}
#baloon5{
    top:20px;
    width:158px;
    height:108px;
}
#baloon5:hover{
    filter: saturate(8);
    transform: scale(1.2);
}



}
/**SMALL SCREEN**/      

@media only screen and (min-width: 768px) {
    /* .share-container{
        top:30px;
        left:-100px;
    } */
    
            
        }

/**Medium Screen**/

@media only screen and (min-width: 960px) {


#answer-image{
    top:350px;
    width:280px;    
    left:400px;
}
.thisthat-answer{
    margin-top:50px; 
}
.gif-container{
    top:-50px;
    left:200px;
    position:absolute;
    height:300px;
    width:0px;
    margin:0px;
}

  }

  /**Large Screen**/

@media only screen and (min-width: 1200px) {

.guru-img2{
    top:465px;
    width:250px;
}
#answer-image{
    width:350px;    
    
}
.thisthat-answer{
    margin-top:50px; 
}

  }
  

