
html, body {
    overflow-x: hidden;
  }
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
}
.hamburger-menu{
    visibility: hidden;
}

.home{
    display:flex;
    justify-content: center;
}
.home-buttons{
    display:flex;
    flex-direction: column;
    width:200px;
    height:400px;
    justify-content: space-around;
    margin-top:40px;
    margin-left:0px;
}

.home-h1 {
    font-size: 40px;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    color:black;
 }

 .home-h2{
  height:50px;
  font-size: 40px;
  margin-top:20px;
  margin-left:190px;
  width:250px;
  color:black;
 }



.guru-img1{
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
    width:500px;
}
.answer-section{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top:100px;
}
.speech-image{
    width:700px;
    margin-right: 80px;
    margin-bottom: 150px;
    position:absolute;
    left: -150px;
    top: 0;
    z-index: 0;
}

#yes-no-text{
    position: absolute;
    z-index: 1;
    margin-top: 100px;
}

#yes-no-image{
    position: absolute;
    z-index: 1;
    margin-left: 100px;
    margin-top: 180px;
    height:150px;
    border-radius: 50%;
}
.response-container{
    position:absolute;
    top:60px;
    left:450px;
}


.guru-img2{
    width:200px;
    margin-top:460px;
    margin-left:200px;
}




@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.question-section{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.thisthat-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:600px;
    margin-top:50px;
    align-content: center;
}



.thisthat-input-container{
    width:600px;
}
.thisthat-input-container input{
    width:250px;
    margin-right: 10px;
}
.thisthat-input-container span{
    margin-right: 10px;
}

.thisthat-answer{
    display:flex;
    flex-direction: column;
    height:700px;
    flex-wrap: wrap;
    width:1000;
  
}
.thisthat-answer button{
    margin-top:20px;
    width:150px;
}
.guru-pick-text{
    margin-top:40px;
}

#answer-image{
    margin-top:400px;
    margin-left:150px;
    width:300px;
    margin-right: 0;
    
    
}
#bubble-answer{
   margin:0;
   width:600px;
}
.speech{
    position: absolute;
    width:600px;
    top:170px;
    left:400px;
    z-index:-1;
}
#gif-text{
    z-index:1;
    margin-left: 580px;
    margin-top: 260px;
    font-size:20px;
    width:350px;
    position:absolute;
}
#gif{
    width:200px;
    z-index:1;
    border-radius: 40%;
    margin-left: 650px;
    top: 300px;
    height:150px;
    position:absolute;
}
.gif-container{
    top:40px;
    position:absolute;
    height:300px;
}

#go-out-text{
    position:absolute;
    z-index:1;
    top:120px; 
    width:320px; 
}
#drink-text{
position:absolute;
z-index:1;
top:190px;
width:200px;
}
#drink-image{
    position:absolute;
    z-index:1;
    top:190px;
    left:200px;
    height:150px;
    border-radius:50%;
}
iframe{
    width:280px;
    height:200px; 
    border-radius: 20%;
    position:absolute;
    z-index:1;
    top:120px;
    left:155px;
}
#synopsis{
    z-index:1;
    position:absolute;
    width:300px;
    font-size: 15px;
    top:130px;
    left:150px;
}
#stay-home-text{
    z-index:1;
    position:absolute;
    width:200px;
    top:130px;
    left:-40px;
}
#movie-title{
    z-index:1;
    position:absolute;
    width:200px;
    top:220px;
    left:-30px;
    font-size: 20px;
}

/* // dropdown css starts */

.dropdown-container{
    width:300px;  
    background-color: white;
    height:40px;
}
  
.dropdown-btn{
    width:300px;
    height:40px;
    background-color: white;
}

.dropdown-list {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 150px;
    border: none;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(black, .5);
    z-index: 9;
    overflow: auto;
    border-radius: 3px;
}

.option {
    padding: 5px;
    cursor: pointer;
}
.option:hover {
    color: white;
    background: #4db8ff;
  }

.arrow {
    position: relative;
}
.arrow:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 5px 0 5px;
      border-color: black transparent transparent transparent;
      position: absolute;
      right: 10px;
      top: 7px;
    }

    @media only screen and (max-width: 600px) {
        .home-buttons{
           visibility: hidden;
        }
        .hamburger-menu{
            visibility: visible;
        }
        .home{
         margin-left: auto;
         margin-right: auto;
         width: 50%;
        }

        .guru-img1{
           width:350px;
           margin-right:150px;
           margin-top:20px;
           }
           .home-h1 {
              font-size: 20px;
              width:80%;
              margin-top:50px;
            
           }
        
           .home-h2{
            height:50px;
            margin-top:40px;
            margin-left:100px;
            width:200px;
            font-size: 30px;
           }
           .question-section{
            flex-direction: column;
        }
        .dropdown-container{
            margin-left: 30px;
        }
        #guru-word{
            margin-left: 20px;
            font-size: 25px;
        }

        .response-container{
            top:150px;
            left:100px;
        }
        .speech-image{
            width:350px;
            position:absolute;
            left: -80px;
            top: 0;
            z-index: 0;
        }
        #yes-no-text{
            font-size: 30px;
            margin-top: 80px;
        }

        #yes-no-image{
            margin-top:60px;
            width: 100px;
            height:100px;
          
        }
        .guru-img2{
            width:150px;
            margin-top:480px;
            margin-left:20px;

        }

        .thisthat-answer{
            display:flex;
            flex-direction: column;
            height:400px;
            flex-wrap: wrap;
            width:200;
          
        }
     
      }



  

